{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data quality</title>
    <link rel="stylesheet" href="{% static "dashboard/css/data_quality.css" %}">
</head>
<body>

<dialog id="loading">
    <div class="multi-spinner-container">
        <div class="multi-spinner">
            <div class="multi-spinner">
                <div class="multi-spinner">
                   <div class="multi-spinner">
                        <div class="multi-spinner">
                            <div class="multi-spinner"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</dialog>

<dialog id="confirmation_dialog">
    <p>Are you sure ? </p>
    <button id="yesGoAheadBtn">yes</button>
    <button onclick="confirmation_dialog.close()">cancel</button>
</dialog>

<dialog id="filters_dialog">
    <div class="filter-section" style="margin-top: 18px">
        <label class="filter-section-title">Status</label>
        <div class="checkbox-group status_filter_cn">
{#            <label><input type="checkbox" name="status_filter" value="all" checked>All</label>#}
            <label><input type="checkbox" name="status_filter" value="active">Active</label>
            <label><input type="checkbox" name="status_filter" value="inactive">Inactive</label>
        </div>
    </div>
    <div class="filter-section">
        <label class="filter-section-title">Substatus</label>
        <div class="checkbox-group substatus_filter_cn">
{#            <label><input type="checkbox" name="substatus_filter" value="all" checked>All</label>#}
            <label><input type="checkbox" name="substatus_filter" value="active">Active</label>
            <label><input type="checkbox" name="substatus_filter" value="location_unknown">Location Unknown</label>
            <label><input type="checkbox" name="substatus_filter" value="on_stock">On Stock</label>
            <label><input type="checkbox" name="substatus_filter" value="scrapped">Scrapped</label>
            <label><input type="checkbox" name="substatus_filter" value="shipped">Shipped</label>
        </div>
    </div>
    <div class="filter-section">
        <label class="filter-section-title">Week</label>
        <div class="checkbox-group week_filter_cn">
            {% for week in weeks_filter %}
                <label><input type="checkbox" name="week_filter" value="{{ week.week }}">{{ week.week }}</label>
            {% endfor %}
        </div>
    </div>
    <button class="apply-filter" onclick="checkFilters()"> Appliquer </button>

</dialog>

<div class="container">
    <div class="cn-left">
        <div class="cards-container">
            <div class="title">
                <p class="titlep">Quality</p>
                <center><span class="filters" style="position: relative;z-index:999;top:-10px;margin-left: 12px">Filters</span></center>
            </div>
            <div class="card card2">
                <p class="card-status">FL-Country Quality</p>
                <p class="card-value" id="active-active-flcountry"></p>
                <p class="card-title">Active/Active</p>
            </div>
            <div class="card card3">
                <p class="card-status">Cst-Name Quality</p>
                <p class="card-value" id="active-active-cstname"></p>
                <p class="card-title">Active/Active</p>
            </div>
            <div class="card card4">
                <p class="card-status">FL-Country Quality</p>
                <p class="card-value" id="active-shipped-flcountry"></p>
                <p class="card-title">Active/Shipped</p>
            </div>
            <div class="card card5">
                <p class="card-status">Cst-Name Quality</p>
                <p class="card-value" id="active-shipped-cstname"></p>
                <p class="card-title">Active/Shipped</p>
            </div>
            <div class="card card6">
                <p class="card-status">FL-Country Quality</p>
                <p class="card-value" id="inactive-on-stock-flcountry"></p>
                <p class="card-title">Inactive/On Stock</p>
            </div>
            <div class="card card7">
                <p class="card-status">Cst-Name Quality</p>
                <p class="card-value" id="inactive-on-stock-cstname"></p>
                <p class="card-title">Inactive/On Stock</p>
            </div>
        </div>
    </div>


    <div class="cn-right">
        <div class="right-container">
{#            <div class="filters-container">#}
{##}
{#            </div>#}
            <div class="missing-countries">
                <div class="missing-countries-header">
                    <div class="title-and-import">
                        <p style="color: black;font-weight: bold;margin-left: 10px;min-width: 120px">Missing FL country</p>
                        <button class="pagination-btn-cst excel" onclick="countries_to_excel()" style="margin-left: 10px"><img src="{% static 'dashboard/img/excel_ico.png' %}" alt="Excel Logo" style="width: 30px"></button>
                    </div>
                    <div class="fl-country-pagination">
                        <button class="pagination-btn-country left">&lt;</button>
                        <span class="pagination-info-country">1/<span class="missing-countries-total-pages">?</span></span>
                        <button class="pagination-btn-country right">&gt;</button>
                    </div>
                </div>
                <div class="missing-countries-table-container">
                    <table class="ms-countries-table" style="display:block">
                        <thead>
                        <tr>
                            <th class="ms-countries-table-header" style="display: none" onclick="sortSerialTable()">Id</th>
                            <th class="ms-countries-table-header" onclick="sortSerialTable()">Service Partner</th>
                            <th class="ms-countries-table-header" onclick="sortSerialTable()">Material Number</th>
                            <th class="ms-countries-table-header" onclick="sortSerialTable()">Serials Number</th>
                            <th class="ms-countries-table-header" onclick="sortSerialTable()">Modality</th>
                            <th class="ms-countries-table-header" onclick="sortSerialTable()">IVK Name</th>
                            <th class="ms-countries-table-header" onclick="sortSerialTable()">Status</th>
                            <th class="ms-countries-table-header" onclick="sortSerialTable()">SubStatus</th>
                            <th class="ms-countries-table-header" onclick="sortSerialTable()">&nbsp; &nbsp; FL - Country &nbsp; &nbsp;  </th>
                        </tr>
                        </thead>
                        <tbody id="gg"  class="ms-countries-table-body">
                        <!-- Populated dynamically using JavaScript -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="missing-names">
                <div class="missing-cst-header">
                    <div class="title-and-import">
                        <p style="color: black;font-weight: bold;margin-left: 10px;min-width: 120px">Missing Customer name</p>
                        <button class="pagination-btn-cst excel" onclick="names_to_excel()" style="margin-left: 10px"><img src="{% static 'dashboard/img/excel_ico.png' %}" alt="Excel Logo" style="width: 30px"></button>
                    </div>
                    <div class="fl-cst-pagination">
                        <button class="pagination-btn-cst left">&lt;</button>
                        <span class="pagination-info-cst">1/<span class="missing-cst-total-pages">?</span></span>
                        <button class="pagination-btn-cst right">&gt;</button>
                    </div>
                </div>
                <div class="missing-names-table-container">
                    <table class="ms-names-table" style="display:block">
                        <thead>
                        <tr>
                            <th class="ms-names-table-header" style="display: none" onclick="sortSerialTable()">Id</th>
                            <th class="ms-names-table-header" onclick="sortSerialTable()">Service Partner</th>
                            <th class="ms-names-table-header" onclick="sortSerialTable()">Material Number</th>
                            <th class="ms-names-table-header" onclick="sortSerialTable()">Serials Number</th>
                            <th class="ms-names-table-header" onclick="sortSerialTable()">Modality</th>
                            <th class="ms-names-table-header" onclick="sortSerialTable()">IVK Name</th>
                            <th class="ms-names-table-header" onclick="sortSerialTable()">Status</th>
                            <th class="ms-names-table-header" onclick="sortSerialTable()">SubStatus</th>
                            <th class="ms-names-table-header" onclick="sortSerialTable()">Customer Name</th>
                        </tr>
                        </thead>
                        <tbody class="ms-names-table-body">
                        <!-- Populated dynamically using JavaScript -->
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>

<script>
    loading.showModal()
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>


<script>
    let missing_flCountry_URL = "{% url 'dashboard:missing_fl_countries' %}"
    let missing_customerName_URL = "{% url 'dashboard:missing_customer_name' %}"
    let getPercents = "{% url 'dashboard:get_percents' %}"
    let fill_missing_countries = "{% url 'dashboard:fillMissCountry' %}"
    let fill_missing_cst = "{% url 'dashboard:fillMissCst' %}"
    let arrow_img_btn = '{% static "dashboard/img/arrow_left.png" %}'
</script>


{% csrf_token %}
<script src="{% static 'dashboard/js/data_quality.js' %}"></script>
<script>
    const activeActiveFlCountryPercentage = "{{ active_active_flcountry_percentage|floatformat:2 }}";
    const activeActiveCstNamePercentage = "{{ active_active_cstname_percentage|floatformat:2 }}";
    const activeShippedFlCountryPercentage = "{{ active_shipped_flcountry_percentage|floatformat:2 }}";
    const activeShippedCstNamePercentage = "{{ active_shipped_cstname_percentage|floatformat:2 }}";
    const inactiveOnStockFlCountryPercentage = "{{ inactive_on_stock_flcountry_percentage|floatformat:2 }}";
    const inactiveOnStockCstNamePercentage = "{{ inactive_on_stock_cstname_percentage|floatformat:2 }}";
</script> 


</html>