{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Importer</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/excel.css' %}">
</head>

<body>
    <div class="container">
        <div class="grp">
            <label class="container-title" > Import Installed base excel file</label>
            <input  type="file" id="files" style="display: none" accept=".xlsx, .xls"/>
            <label id="importer" class="importer before" for="files">Click here</label>
            <label class="importer after" style="display: none">the file <i class="importedFilename">placeholder</i> is imported</label>
            <a class="submitter">Save</a>
        </div>
    </div>

    <dialog id="load_dialog">
      <div class="lds-hourglass"></div>
    </dialog>

    <dialog id="message_dialog">
            <p class="message">Message</p>
    </dialog>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    const url = "{% url 'dashboard:upload_excel' %}"
</script>
{% csrf_token %}
<script src="{% static 'dashboard/js/excel.js' %}"></script>

</html>