{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}? {% now
    "" %}">
    <title>Africa Connectivity Dashboard</title>
  </head>

  <style>
    body {
      background-image: url("{% static 'dashboard/img/Background.jpg' %}");
      background-repeat: no-repeat;
      background-size: auto;
    }
  </style>

  <body>
    <dialog id="loading">
      <div class="multi-spinner-container">
        <div class="multi-spinner">
          <div class="multi-spinner">
            <div class="multi-spinner">
              <div class="multi-spinner">
                <div class="multi-spinner">
                  <div class="multi-spinner"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </dialog>
    <h1 style="margin-top: 0">Africa Connectivity Dashboard</h1>

    <div class="container">
      <div class="upper-left-container">
        <div class="item active-system-count-container" style="border: none">
          <div id="filter-id" class="filter-container">
            <h3 class="filter-imay">
              Filters: <span id="appliedFilter">Country: Angola</span>
            </h3>
            <button class="removeFilter" onclick="removeFilters()">X</button>
          </div>

          <div class="item-c" style="margin-top: 0; padding: 0 20px 20px">
            <div>
              <p
                class="active-system-count"
                id="count-systems-active-tab"
                style="color: #008b8b; font-size: 50px; margin-bottom: 0"
              >
                16
              </p>
              <h2
                class="active-system-title"
                style="color: #ff8c00; margin-top: 0"
              >
                Systems with Active Connectivity
              </h2>
            </div>
          </div>
        </div>

        <div class="item active-system-chart-container">
          <div class="histogram grid-item">
            <h5 class="item-title">Active System Connectivity</h5>
            <canvas id="histogram4"></canvas>
          </div>
        </div>
      </div>

      <div class="upper-right-container">
        <div class="item srs-connectivity-chart-container">
          <div class="histogram" style="height: 250px">
            <h5 class="item-title">SRS Connectivity</h5>
            <canvas id="histogram1"></canvas>
          </div>
        </div>
        <div class="item ruh-readlines-chart-container">
          <div class="histogram">
            <h5 class="item-title">RUH Readiness</h5>
            <canvas id="histogram2"></canvas>
          </div>
        </div>
        <div class="item srs-data-sent-chart-container">
          <div class="histogram grid-item">
            <h5 class="item-title">SRS Data sent</h5>
            <canvas id="histogram3"></canvas>
          </div>
        </div>
        <div class="item can24-connectable-chart-container">
          <div class="histogram grid-item">
            <h5 class="item-title">CAN 24 Connectable Systems</h5>
            <canvas id="histogram5"></canvas>
          </div>
        </div>
        <div class="item can24-data-sent-chart-container">
          <div class="histogram grid-item">
            <h5 class="item-title">CAN 24 Data Sent</h5>
            <canvas id="histogram6"></canvas>
          </div>
        </div>
        <div class="item connected-can24-chart-container">
          <div class="histogram grid-item">
            <h5 class="item-title">Connected CAN 24 Modul</h5>
            <canvas id="histogram7"></canvas>
          </div>
        </div>
      </div>
      <div class="bottom-left-container" style="background-color: transparent">
        <div class="item" style="height: auto"></div>
      </div>
      <div class="item bottom-right-container">
        <div class="table-wrapper">
          <div class="missing-cst-header">
            <div class="title-and-import">
            <p
              style="
                color: black;
                font-weight: bold;
                margin-left: 10px;
                min-width: 120px;
              "
            >
              Liste equipment
            </p>
            <button
              class="pagination-btn-cst excel"
              onclick="to_excel()"
              style="margin-left: 10px"
            >
              <img
                src="{% static 'dashboard/img/excel_ico.png' %}"
                alt="Excel Logo"
                style="width: 30px"
              />
            </button>
                </div>
            <div class="fl-cst-pagination">
              <button class="pagination-btn-cst left">&lt;</button>
              <span class="pagination-info-cst"
                >1/<span class="missing-cst-total-pages">?</span></span
              >
              <button class="pagination-btn-cst right">&gt;</button>
            </div>
          </div>
          <div class="missing-names-table-container">
            <table class="ms-names-table" style="display: block">
              <thead>
                <tr>
                  <th class="ms-names-table-header">
                    Equipment service partner ID
                  </th>
                  <th class="ms-names-table-header">
                    Equipment service partner text
                  </th>
                  <th class="ms-names-table-header">Country Region</th>
                  <th class="ms-names-table-header">Func Location Name</th>
                  <th class="ms-names-table-header">
                    Equipment material number
                  </th>
                  <th class="ms-names-table-header">Equipment serial number</th>
                  <th class="ms-names-table-header">Material IVK name</th>
                  <th class="ms-names-table-header">SRS Connectivity</th>
                  <th class="ms-names-table-header">RUH Readiness</th>
                  <th class="ms-names-table-header">Data Sent</th>
                </tr>
              </thead>
              <tbody class="ms-names-table-body">


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script>
      loading.showModal();
    </script>
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.4/xlsx.full.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <script>
      let srs_connectivity_chart_url =
        "{% url 'dashboard:get_srs_connectivity_chart_data2' %}";
      let ruh_readiness_chart_url =
        "{% url 'dashboard:get_ruh_readiness_chart_data2' %}";
      let data_sent_chart_url =
        "{% url 'dashboard:get_Data_Sent_chart_data2' %}";
      let connection_score_chart_url =
        "{% url 'dashboard:get_Connection_score_chart_data2' %}";
      let can24_connectable_systems_chart_url =
        "{% url 'dashboard:get_Can24_Connectable_Systems_chart_data' %}";
      let can24_data_sent_chart_url =
        "{% url 'dashboard:get_CAN24_Data_Sent_chart_data' %}";
      let connected_can24_modul_chart_url =
        "{% url 'dashboard:get_Connected_CAN24_Modul_chart_data' %}";

      let missing_customerName_URL =
        "{% url 'dashboard:get_equipment_data_CAN24_Ajax' %}";
    </script>

    {% csrf_token %}
    <script src="{% static 'dashboard/js/can24.js' %}"></script>

  
  </body>
</html>
