{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>SRS</title>
    <link rel="stylesheet" href="{% static 'dashboard/css/SRS.css' %}">
</head>
<body>
    <h1 style="margin-top: 0">Africa Connectivity Dashboard</h1>

    <div class="container">
        <div class="upper-container">
            <div class="upper">
                <div class="item-container active-system-count-container">
                    <h2 class="active-system-count">72</h2>
                    <h2 class="active-system-title">Systems with Active Connectivity</h2>
                </div>
                <div class="item-container srs-connectivity-container">
                    <div class="histogram">
                        <h5 class="item-title">SRS Connectivity</h5>
                        <canvas id="histogram1"></canvas>
                    </div>
                </div>
                <div class="item-container RUH-readline-container">
                    <div class="histogram">
                        <h5 class="item-title">RUH Readiness</h5>
                        <canvas id="histogram2"></canvas>
                    </div>
                </div>
                <div class="item-container srs-data-sent-container">
                    <div class="histogram">
                        <h5 class="item-title">SRS Data sent</h5>
                        <canvas id="histogram3"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="lower-container">
            <div class="lower">
                <div class="item-container country-region-container">

                </div>

                <div class="item-container active-system-connectivity-container">
                    <div class="histogram histogram-s" >
                        <h5 class="item-title">Active System Connectivity</h5>
                        <canvas id="histogram4"></canvas>
                    </div>
                </div>
                <div class="item-container equipments-table-container">
                <div class="table-wrapper">
                    <div class="missing-cst-header">
                        <p style="color: black;font-weight: bold;margin-left: 10px;min-width: 120px">Liste equipment</p>
                        <div class="fl-cst-pagination">
                            <button class="pagination-btn-cst left">&lt;</button>
                            <span class="pagination-info-cst">1/<span class="missing-cst-total-pages">?</span></span>
                            <button class="pagination-btn-cst right">&gt;</button>
                        </div>
                    </div>
                    <div class="missing-names-table-container">
                        <table class="ms-names-table" style="display:block">
                        <thead>
                            <tr>
                                <th class="ms-names-table-header">Equipment service partner ID</th>
                                <th class="ms-names-table-header">Equipment service partner text</th>
                                <th class="ms-names-table-header">Country Region</th>
                                <th class="ms-names-table-header">Func Location Name</th>
                                <th class="ms-names-table-header">Equipment material number</th>
                                <th class="ms-names-table-header">Equipment serial number</th>
                                <th class="ms-names-table-header">Material division text</th>
                                <th class="ms-names-table-header">Material IVK name</th>
                                <th class="ms-names-table-header">SRS Connectivity</th>
                                <th class="ms-names-table-header">RUH Readiness</th>
                                <th class="ms-names-table-header">Data Sent</th>
                            </tr>
                        </thead>
                        <tbody class="ms-names-table-body">
                            
                        </tbody>
                    </table>
                    </div>

                </div>
            </div>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>

    <script >
        let script_url =  "{% url 'dashboard:get_srs_connectivity_chart_data' %}"
        let script_url1 = "{% url 'dashboard:get_ruh_readiness_chart_data' %}"
        let script_url2 = "{% url 'dashboard:get_Data_Sent_chart_data' %}"
        let script_url3 = "{% url 'dashboard:get_Connection_score_chart_data' %}"


        let missing_customerName_URL = "{% url 'dashboard:get_equipment_dataAjax' %}"

    </script>
    
    <script src="{% static 'dashboard/js/scripts.js' %}"></script>
    <!-- Add this script tag after jQuery -->
    <script>
        $(document).ready(function() {

            let flCstData = [];
            const $tableBodyCst = $('.ms-names-table-body');
            let rowsPerPageCst = 500;
            let pageCst = 1;

            function populateFlCst(start, end) {
                let rowsHTML = '';

                for (let i = start; i < end && i < flCstData.length; i++) {
                    let rowClass = i === end - 1 ? 'middle-row' : '';
                    rowsHTML += `
                        <tr class="ms-names-tr ${rowClass}">
                            <td class="ms-names-td">${flCstData[i].equipment_service_partner_id}</td>
                            <td class="ms-names-td">${flCstData[i].equipment_service_partner_text}</td>
                            <td class="ms-names-td">${flCstData[i].country_region}</td>
                            <td class="ms-names-td">${flCstData[i].func_location_name}</td>
                            <td class="ms-names-td">${flCstData[i].equipment_material_number}</td>
                            <td class="ms-names-td">${flCstData[i].equipment_serial_number}</td>
                            <td class="ms-names-td">${flCstData[i].material_division_text}</td>
                            <td class="ms-names-td">${flCstData[i].material_ivk_name}</td>
                            <td class="ms-names-td">${flCstData[i].srs_connectivity}</td>
                            <td class="ms-names-td">${flCstData[i].ruh_readiness}</td>
                            <td class="ms-names-td">${flCstData[i].data_sent}</td>
                        </tr>`;
                }

                $tableBodyCst.html(rowsHTML);
            }

            function updatePaginationInfoCst() {
                let totalPages = Math.ceil(flCstData.length / rowsPerPageCst);
                $('.pagination-info-cst').text(`${pageCst}/${totalPages}`);
            }

            function updatePageContentCst() {
                let start = (pageCst - 1) * rowsPerPageCst;
                let end = start + rowsPerPageCst;

                if (end > flCstData.length) {
                    end = flCstData.length;
                }

                populateFlCst(start, end);
            }

            $('.pagination-btn-cst.left').on('click', function() {
                if (pageCst > 1) {
                    pageCst--;
                    updatePaginationInfoCst();
                    updatePageContentCst();
                }
            });

            $('.pagination-btn-cst.right').on('click', function() {
                let totalPages = Math.ceil(flCstData.length / rowsPerPageCst);
                if (pageCst < totalPages) {
                    pageCst++;
                    updatePaginationInfoCst();
                    updatePageContentCst();
                }
            });

            function getMissingFlCstAjax() {
                // loading.showModal()
                const csrfToken = $('[name=csrfmiddlewaretoken]').val();
                $.ajax({
                    type: "GET",
                    url: missing_customerName_URL,
                    dataType: 'json',
                    data: {
                        //filters: JSON.stringify(currentFilters),
                        //csrfmiddlewaretoken: csrfToken
                    },
                    success: function(fetchedData) {
                        flCstData = fetchedData;
                        updatePaginationInfoCst();
                        updatePageContentCst();
                        // loading.close()
                    },
                    error: function(error) {
                        console.error('Error fetching data:', error);
                    }
                });
            }

            getMissingFlCstAjax();


         {#const tableBody = document.querySelector('.ms-names-table-body');#}
         {#const paginationInfo = document.querySelector('.pagination-info-cst');#}
         {#const paginationButtons = document.querySelectorAll('.pagination-btn-cst');#}
         {##}
         {#const itemsPerPage = 500;  // Adjust this as needed#}
         {##}
         {#async function fetchEquipmentData(page) {#}
         {#    const response = await fetch(`/home/get_equipment_data/?page=${page}`);#}
         {#    return await response.json();#}
         {# }#}
         {#async function fetchTotalPages() {#}
         {#    const response = await fetch(`/home/get_equipment_data/`);#}
         {#    const data = await response.json();#}
         {#    return Math.ceil(data.length / itemsPerPage);#}
         {# }#}
         {##}
         {#async function populateTable(page) {#}
         {#    const data = await fetchEquipmentData(page);#}
         {##}
         {#    // Clear previous table content#}
         {#    tableBody.innerHTML = '';#}
         {##}
         {#    // Populate the table rows with fetched data#}
         {##}
         {#    data.forEach(item => {#}
         {#        const row = document.createElement('tr');#}
         {#        // Assuming the order matches the table headers#}
         {#        row.innerHTML = `#}
         {#            <td>${item.equipment_service_partner_id}</td>#}
         {#            <td>${item.equipment_service_partner_text}</td>#}
         {#            <td>${item.country_region}</td>#}
         {#            <td>${item.func_location_name}</td>#}
         {#            <td>${item.equipment_material_number}</td>#}
         {#            <td>${item.equipment_serial_number}</td>#}
         {#            <td>${item.material_division_text}</td>#}
         {#            <td>${item.material_ivk_name}</td>#}
         {#            <td>${item.srs_connectivity}</td>#}
         {#            <td>${item.ruh_readiness}</td>#}
         {#            <td>${item.data_sent}</td>#}
         {#        `;#}
         {#        tableBody.appendChild(row);#}
         {#    });#}
         {##}
         {#    const totalPages = await fetchTotalPages();#}
         {##}
         {#    // Update pagination info and buttons#}
         {#    paginationInfo.textContent = `${page}/${totalPages}`;#}
         {#    paginationButtons[0].disabled = page === 1;#}
         {#    paginationButtons[1].disabled = page === totalPages;#}
         {# }#}
         {##}
         {#paginationButtons.forEach(button => {#}
         {#    button.addEventListener('click', async () => {#}
         {#        const currentPage = parseInt(paginationInfo.textContent.split('/')[0]);#}
         {#        const nextPage = button.classList.contains('right') ? currentPage + 1 : currentPage - 1;#}
         {#        if (nextPage >= 1) {#}
         {#            await populateTable(nextPage);#}
         {#        }#}
         {#    });#}
         {# }); #}
         {##}
         {#// Load initial table data#}
         {#populateTable(1);#}




     });
     </script>



   
</body>
</html>
