.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
  grid-gap: 10px; /* Gap between grid items */
  grid-template-columns: 300px 300px 300px 300px auto;
  
}

.item {
  background-color: white;
  padding: 20px;
  text-align: center;
  border: 1px solid #FF8C00;
}

/* Positioning the 5th item under the 2nd item of the first row */
.item:nth-child(5) {
  grid-row: 2; /* Second row */
  grid-column: 2; /* Second column */
}

/* Positioning the 6th item under the 3rd item of the first row */
.item:nth-child(6) {
  grid-row: 2; /* Second row */
  grid-column: 3; /* Third column */
  width: 570px; /* Custom width for the 6th item */
  height: 220px; /* Custom height for the 6th item */
}
.table-card {
  width: 590px; /* Set your desired fixed width */
  overflow: hidden; /* Hide horizontal overflow */
}

.table-wrapper {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
}

/* Style your table as needed */
.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

/* Optional: Style table header and rows */
.table-wrapper th, .table-wrapper td {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}

h1 {
  border: 1px solid #008B8B;
  text-align: center;
  color: #FF8C00 ;
}


