:root{
    --primary-bg : #F8C39B;
    --container-bg : #f6f1e9 ;
}

body{
    background-color: var(--primary-bg);
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


#loading{
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center; /* Center align content */
    background-color: rgba(222, 220, 220, 0.9);
    border: none;
}

.multi-spinner-container {
    width: 150px;
    height: 150px;
    position: relative;
    overflow: hidden;
    margin: 13% auto 30px;
}

.multi-spinner {
  position: absolute;
  width: calc(100% - 9.9px);
  height: calc(100% - 9.9px);
  border: 5px solid transparent;
  border-top-color: #ff5722;
  border-radius: 50%;
  -webkit-animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
  animation: spin 5s cubic-bezier(0.17, 0.49, 0.96, 0.76) infinite;
}


@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
         transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


@keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.login-container{
    background-color: var(--container-bg);
    width: 500px;
    height: 300px;
    border-radius: .6em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.credentials_container {
    padding-top: 40px;
    padding-left: 40px;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 0;
}

.email-label { grid-area: 1 / 1 / 2 / 2; }
.email-inp { grid-area: 1 / 2 / 2 / 3; }
.password-label { grid-area: 2 / 1 / 3 / 2; }
.password-inp { grid-area: 2 / 2 / 3 / 3; }

.cn{
    height: 40px;
    text-align: left;
    padding-left: 18px;
}

label{
    font-family: Georgia, Arial sans-serif;
    font-size: 19px;
    letter-spacing: .6px;
}

.submit-container{
    text-align: center;
}

/* Style for the input field */
.email-input {
    position: relative;top:-10px;
    font-family: Georgia, Arial sans-serif;
    font-size: 19px;
    border: none;
    border-bottom: 2px solid #333; /* Initial bottom border style */
    outline: none;
    background: none;
    padding: 5px;
    transition: border-color 0.3s ease; /* Animation transition */
}

/* Animation for the bottom border on hover */
.email-input:hover {
    border-color: #007bff; /* Color to change to when hovered */
}


/* Style for the password input container */
.password-input-container {
    position: relative;
    top: -10px;
}
/* Style for the password input */
.password-input {
    font-family: Georgia, Arial sans-serif;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    background: none;
    padding: 5px;
    transition: border-color 0.3s ease;
}

.password-input:hover {
    border-color: #007bff; /* Color to change to when hovered */
}

/* Style for the eye icon */
.password-toggle {
    position: absolute;
    top: 40%;
    right: 20%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Icon for closed eye */
.password-toggle .fa-eye-slash {
    display: none;
}

/* Icon for open eye */
.password-toggle.open .fa-eye-slash {
    display: inline;
}

/* Icon for closed eye */
.password-toggle .fa-eye {
    display: inline;
}

/* Icon for open eye */
.password-toggle.open .fa-eye {
    display: none;
}



.login-button ,.confirm-pwd-btn {
    background-color: #EC6602;
    color: white;
    border: none;
    width: 150px;
    font-family: Verdana, sans-serif ;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
.login-button:hover ,.confirm-pwd-btn:hover {
    background-color: #0056b3; /* Darker shade on hover */
    transform: scale(1.05); /* Slight scale-up effect on hover */
}

/* Active effect (when clicked) */
.login-button:active ,.confirm-pwd-btn:active {
    background-color: #004191; /* Darker shade when clicked */
    transform: scale(0.95); /* Slight scale-down effect when clicked */
}

.confirm-pwd-btn:disabled {
    background-color: lightgray;
    color: gray;
    cursor: not-allowed;
}


#password_setter{
    width: 30%;
    height: 26%;
    border: none;
    border-radius: .6em;
    padding: 1% 3%;
}

#password_setter::backdrop{
     background-color: rgba(134, 134, 134, 0.6);
}

#password_setter div{
    justify-content: space-between;
}

.pwd_set{
    margin-right: 10px;
    width: 200px;
    position: relative;top:-10px;
    font-family: Georgia, Arial sans-serif;
    font-size: 19px;
    border: none;
    border-bottom: 2px solid #333; /* Initial bottom border style */
    outline: none;
    background: none;
    padding: 5px;
    transition: border-color 0.3s ease; /* Animation transition */
}

/* Animation for the bottom border on hover */
.pwd_set:hover {
    border-color: #007bff; /* Color to change to when hovered */
}

.pwd-info{
    width: 98%;
    text-align: center;
    background: #9de59d;
    padding: 4px;
    border-radius: .5em;
    margin-bottom: 30px;
}
