
.dashboard-container {
    max-width: 1600px; /* Set a maximum width for larger screens */
    width: 95vw; /* Use viewport width as a relative value */
    min-height: 600px; /* Set a minimum height in pixels */
    height: 90vh; /* Use viewport height as a relative value */
    border-radius: 0.7em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr;
    gap: 5px;
}

/* Rest of your classes with their styles */


.parent-container-upper { grid-area: 1 / 1 / 2 / 2; }
.parent-container-lower { grid-area: 2 / 1 / 3 / 2; }


.container-upper {
    width: 100% ;height: 100%;
    display: grid;
    grid-template-columns: .8fr 2fr;
    grid-template-rows: repeat(2, 2fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    gap: 5px;
}

.map-container {
    grid-area: 1 / 1 / 2 / 2;
}
.equipments-moadality-container {
    grid-area: 1 / 2 / 2 / 3;
}
.serials-container {
    grid-area: 2 / 1 / 3 / 2;
}
.cards-counters-container {
    grid-area: 2 / 2 / 3 / 3;
}

.eq-md-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1.7fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    gap: 5px;
}

.equipments {
    grid-area: 1 / 1 / 2 / 2;
}
.modalities {
    grid-area: 1 / 2 / 2 / 3;
}

.cards-counters-parent {
    width: 100%;height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    gap: 5px;
}

.eq-card {
    grid-area: 1 / 1 / 2 / 2;
}
.onStock-card {
    grid-area: 1 / 2 / 2 / 3;
}
.active-card {
    grid-area: 2 / 1 / 3 / 2;
}
.shipped-card {
    grid-area: 2 / 2 / 3 / 3;
}


.serialSearch-filter-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
    gap: 5px;
}

.serial-search {
    grid-area: 1 / 1 / 2 / 2;
}
.filters {
    grid-area: 1 / 2 / 2 / 3;
}

.card{
    background-color: rgba(243, 241, 241, .15);
    backdrop-filter: blur(8px);
    border: 1px solid dodgerblue;
    border-radius: .6em;
}

.map-container {
    height: 500px;
    background-color: rgba(255, 255, 255, 0.49);
    backdrop-filter: blur(8px);
}



.siemens-logo{
    text-align: center;
}

.equipments-table-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: .4em;
}

.equipments-table {
    border-collapse: collapse;
    width: inherit;
}

.equipments-table-body {
    height: 190px;
    width: 400px;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: scroll;
    text-align: center;
}

.equipments-table-header {
    width: 10%;
    background-color: white;
    padding: 6px; /* Reduced padding */
    font-size: 14px; /* Reduced font size */
    text-align: center;
}

.serials-table-body{
    height: 100%;
}
.equipments-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Grey color */
}

.equipments-table tbody tr:nth-child(odd) {
    background-color: #ffffff; /* White color */
}

.equipments-td {
    font-size: 12px;
    padding: 3px;
    text-align: center;
    border: 1px solid #ddd; /* Add borders for cells */
    box-sizing: border-box; /* Include border in cell dimensions */
}


.serials-table-container {
    width: 400px;
    overflow-y: auto;
    height: 250px;
    border: 1px solid #ccc; /* Add a border for clarity */
    box-sizing: border-box; /* Include border in width calculations */
}

.serials-table {
    border-collapse: collapse;
    width: inherit; /* Use 100% width */
}

.serials-table-body {
    height: 120px; /* Limit the body's max height */
    width: 200px; /* Use 100% width */
    overflow-y: scroll; /* Enable vertical scroll */
}

.serials-table-header {
    background-color: white;
    padding: 10px;
    text-align: center;
    position: sticky;
    text-wrap: normal;
    top: 0; /* Stick the header to the top */

    /* Adjust the width of header cells */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis;

    z-index: 1; /* Ensure header is above the body */
}

.serials-tr:nth-child(even) {
    background-color: white;
}

.serials-tr:nth-child(odd) {
    background-color: lightgray;
}

.serials-td {
    font-size: 12px;
    padding: 3px;
    text-align: center; /* Center-align the content */
    border: 1px solid #ccc; /* Add borders for cells */
    box-sizing: border-box; /* Include border in cell dimensions */
}
#test {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

#test td, #test th {
    border: 1px solid #ddd;
    padding: 6px; /* Reduced padding */
    font-size: 12px; /* Reduced font size */
}

#test tr:nth-child(even){
    background-color: #f2f2f2;
}

#test tr:hover {
    background-color: #ddd;
}

#test th {
    padding-top: 10px; /* Reduced padding-top */
    padding-bottom: 10px; /* Reduced padding-bottom */
    text-align: left;
    background-color: white;
    color: black;
    font-size: 14px; /* Reduced font size */
}





.counter-card{
    font-family: Verdana sans-serif;
    font-weight: bold;
    font-size: 22px;
}

.serial-search{
    text-align: center;
    font-family: Verdana sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.search-input-container {
    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 5px;
}

.search-input {
    padding: 5px;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    font-size: 16px;
    border-radius: 5px;
}

.search-icon,
.clear-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 5px;
    color: #555;
}

.clear-icon {
    right: 5px;
}

.clear-icon:hover {
    color: red;
}






#africa{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

path:hover, circle:hover {
    stroke: yellow !important;
    stroke-width:2px;
    stroke-linejoin: round;
    fill: yellow !important;
    cursor: pointer;
}
#path67 {
    fill: none !important;
    stroke: #A9A9A9 !important;
    cursor: default;
}
#infoBubble {
    display: none;
    position: fixed;
    tom: 0;
    right: 0;
    background-color: #ffffff;
    border: 2px solid #BF0A30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
}

.my-legend .legend-title {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 110%;
}
.my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
}
.my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
}
.my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
}
.my-legend .legend-source {
    font-size: 90%;
    color: #999;
    clear: both;
    font-family: arial;
}
.my-legend a {
    color: #777;
}

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    z-index: 1000; /* Ensure tooltip appears on top of other content */
}


/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #5f5d5f #e3e3e3;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

*::-webkit-scrollbar-track {
    background: #e3e3e3;
}

*::-webkit-scrollbar-thumb {
    background-color: #5f5d5f;
    border-radius: 14px;
    border: 0px solid #ffffff;
}
/* Style for the filter sections and labels */
.card.filters {
    text-align: center;
    position: relative; /* Add relative positioning */
    padding-bottom: 20px; /* Add some padding to create space between filters and border */
}

.filter-section {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    background-color: #9de59d;
    border-radius: .3em;
    padding: 5px;
    display: inline-block; /* Display filter sections inline */
    margin-right: 10px; /* Add some space between sections */
}
.filter-section>.content{
    display:none;
}

.filter-section:hover {
    background-color: #e1d3c9;
}

/* Style for the checkboxes */
.checkbox-group {
    display: flex;
    flex-wrap: wrap;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px; /* Add space between checkboxes */
}
#applyFilters {
    background-color: #007BFF; /* Button background color */
    color: #fff; /* Text color */
    padding: 10px 20px; /* Padding around the text */
    border: none; /* Remove default button border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Change cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
    margin-bottom: 20px;
}

#applyFilters:hover {
    background-color: #0056b3; /* Button background color on hover */
}




