.container {
    display: grid;
    background-color: red;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.upper-left-container {
  background-color: red;

  grid-area: 1 / 1 / 2 / 2;
}
.upper-right-container {
  grid-area: 1 / 2 / 2 / 3;
}
.bottom-left-container {
  grid-area: 2 / 1 / 3 / 2;
}
.bottom-right-container {
  grid-area: 2 / 2 / 3 / 3;
}
.pagination-btn-cst:hover {
  background-color: #ffab72;
}

.pagination-info-cst {
  margin: 0;
}
.pagination-btn-cst.excel {
  background-color: #dcd4d4;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  display: flex;
  align-items: center; /* Center text and image vertically */
  gap: 5px; /* Add space between text and image */
}

.pagination-btn-cst.excel:hover {
  background-color: #ffab72;
}







.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
  grid-gap: 10px; /* Gap between grid items */

}

.item {
  background-color: white;
  padding: 20px;
  text-align: center;
  border: 1px solid #FF8C00;
}

/* Positioning the 9th item under the 2nd item of the 2nd row */

.item.item-special {
  grid-row: 3; /* Third row */
  grid-column: 2 / span 2; /* Spans two columns starting from the second column */
  width: 650px; /* Custom width for the 9th item */
  height: 160px; /* Custom height for the 9th item */
}
.item:nth-child(-n + 8) {
  width: 300px;
}

.


.table-card {
  width: 650px; /* Set your desired fixed width */
  overflow: hidden; /* Hide horizontal overflow */
}

.table-wrapper {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
}

/* Style your table as needed */
.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

/* Optional: Style table header and rows */
.table-wrapper th, .table-wrapper td {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}


h1 {
  border: 1px solid #008B8B;
  text-align: center;
  color: #FF8C00 ;
}

div > #map-container{
    padding: 20px;
    border-radius: .5em;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    background-color: red;
    overflow-y: scroll;
}

#map-container {
    width: 250px;
    height: 250px;
}
