.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Four columns with equal width */
  grid-gap: 10px; /* Gap between grid items */
  
}

.item {
  background-color: white;
  padding: 20px;
  text-align: center;
  border: 1px solid #FF8C00;
}

/* Positioning the 9th item under the 2nd item of the 2nd row */

.item.item-special {
  grid-row: 3; /* Third row */
  grid-column: 2 / span 2; /* Spans two columns starting from the second column */
  width: 650px; /* Custom width for the 9th item */
  height: 160px; /* Custom height for the 9th item */
}
.item:nth-child(-n + 8) {
  width: 300px;
}

.table-card {
  width: 650px; /* Set your desired fixed width */
  overflow: hidden; /* Hide horizontal overflow */
}

.table-wrapper {
  width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling */
}

/* Style your table as needed */
.table-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

/* Optional: Style table header and rows */
.table-wrapper th, .table-wrapper td {
  border: 1px solid gray;
  padding: 8px;
  text-align: left;
}


h1 {
  border: 1px solid #008B8B;
  text-align: center;
  color: #FF8C00 ;
}
